! Use a nice truetype font and size by default...
xterm*faceName: FiraCode NF:style=Medium
xterm*faceSize: 14
xterm*renderFont: true
Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintslight
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

! Use UTF8
XTerm*utf8: 1

! Every shell is a login shell by default (for inclusion of all necessary environment variables)
xterm*loginshell: true

! I like a LOT of scrollback...
xterm*savelines: 16384

! double-click to select whole URLs :D
xterm*charClass: 33:48,36-47:48,58-59:48,61:48,63-64:48,95:48,126:48

! DOS-box colours...
!xterm*foreground: rgb:a8/a8/a8
!xterm*background: rgb:00/00/00
!xterm*color0: rgb:00/00/00
!xterm*color1: rgb:a8/00/00
!xterm*color2: rgb:00/a8/00
!xterm*color3: rgb:a8/54/00
!xterm*color4: rgb:00/00/a8
!xterm*color5: rgb:a8/00/a8
!xterm*color6: rgb:00/a8/a8
!xterm*color7: rgb:a8/a8/a8
!xterm*color8: rgb:54/54/54
!xterm*color9: rgb:fc/54/54
!xterm*color10: rgb:54/fc/54
!xterm*color11: rgb:fc/fc/54
!xterm*color12: rgb:54/54/fc
!xterm*color13: rgb:fc/54/fc
!xterm*color14: rgb:54/fc/fc
!xterm*color15: rgb:fc/fc/fc

! Dracula Xresources palette
*.foreground: #F8F8F2
*.background: #282A36
*.color0:     #000000
*.color8:     #4D4D4D
*.color1:     #FF5555
*.color9:     #FF6E67
*.color2:     #50FA7B
*.color10:    #5AF78E
*.color3:     #F1FA8C
*.color11:    #F4F99D
*.color4:     #BD93F9
*.color12:    #CAA9FA
*.color5:     #FF79C6
*.color13:    #FF92D0
*.color6:     #8BE9FD
*.color14:    #9AEDFE
*.color7:     #BFBFBF
*.color15:    #E6E6E6

! right hand side scrollbar...
! xterm*rightScrollBar: true
! xterm*ScrollBar: true

! stop output to terminal from jumping down to bottom of scroll again
xterm*scrollTtyOutput: false

! disable bell
xterm*visualBell: false

! Copy/Paste
xterm*vt100.translations: #override \
    Shift Ctrl <Key> C: copy-selection(CLIPBOARD) \n\
    Shift Ctrl <Key> V: insert-selection(CLIPBOARD)

xterm*dTitleBar: 0
xterm*startMaximized: 1
